.container {
  background: #0f111a;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  padding: 20px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 40px;
  text-align: center;
}

.loginButton {
  background: white;
  color: black;
  padding: 16px 26px;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.loginButton:hover {
  background: #eee;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
